.about {
    padding: 180px 0 90px 0;
    position: relative;

    &__menu-nav {
        position: absolute;
        top: 0;
        border-bottom: 1px solid #f2f2f2;
        padding: 20px 0;
    }
    
    &__body {
        max-width: 823px;
        margin: 0 auto;
    }
    &__header {
        margin: 0px 0px 65px 0px;
    }
    &__title {
        margin: 0px 0px 30px 0px;
    }
    &__text {
        max-width: 695px;
        font-size: $primaryText-size;
        color: #868585;
        font-family: $secondary-text-font;
        text-align: center;
        line-height: 20.89px;
        margin: 0 auto;
    }

    &__row {
        display: flex;
        margin: 0px -15px;
    }
    &__column {
        padding: 0 15px;
        flex: 0 0 33.333%;
    }
}

.menu-nav {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;

    &__item {
        padding: 0 25px;
        text-align: center;
    }
    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font-family: "Lato-Bold";
        font-size: 15px;
        color: $links-color;
    }
    &__link:hover {
        color: $active-link-color;
    }
}

.item-about {
    &__icon {
        border-radius: 50%;
        width: 92px;
        height: 92px;
        border: 2px solid #f1f1f1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto 35px auto;
    }
    &__title {
        text-align: center;
        color: #000000;
        font-size: 22px;
        font-family: $text-font;
        text-transform: uppercase;
        letter-spacing: 3.52px;
        margin: 0 0 35px 0;
    }
    &__text {
        text-align: center;
        font-size: $primaryText-size;
        color: #868585;
        font-family: $secondary-text-font;
        line-height: 1.5;
    }
}