.contacts {
    padding: 180px 0 100px;
    @media screen and (max-width:$md) {
        padding: 70px 0 50px;
    }
    @media screen and (max-width:$sx) {
        padding: 40px 0 40px;
    }

    &__title {
        margin-bottom: 115px;
        @media screen and (max-width:$md) {
            margin-bottom: 45px;
        }
    }
    &__container {
        max-width: 720px;
        margin: 0 auto;
    }

    &__body {
        display: flex;
        margin: 0 -25px;
        @media screen and (max-width:$sm){
            display: block;
            margin: 0;
        }
    }
    &__column {
        flex: 0 1 50%;
        padding: 0 25px;
    }
    &__form {
        text-align: right;
        @media screen and (max-width:$sm) {
            text-align: left;
        }
    }
    &__content {
        max-width: 260px;
        @media screen and (max-width:$sm) {
            max-width: none;
        }
    }
    &__text {
        color: #000000;
        font-size: 14px;
        font-family: $secondaryText-font;
        line-height: 24px;
        margin-bottom: 30px;
        @media screen and (max-width:$sm) {
            font-size: 18px;
        }
    }
    &__name {
        font-size: 14px;
        font-family: $primary-font;
        font-weight: 700;
        margin-bottom: 20px;
        @media screen and (max-width:$sm) {
            font-size: 18px;
        }
    }
    &__social {
        margin-bottom: 15px;
        @media screen and (max-width:$sm) {
            margin-bottom: 30px;
        }
    }
    &__email {
        font-size: 14px;
        font-family: $secondaryText-font;
        a {
            text-decoration: none;
            color: #000000;
            font-family: $primary-font;
            font-weight: 600;
            &:hover {
                text-decoration: underline;
            }
        }
        @media screen and (max-width:$sm) {
            font-size: 18px;
        }
    }
}
.form-contacts {
    &__body {
        display: inline-block;
        width: 100%;
        max-width: 385px;
        @media screen and (max-width:$sm) {
            max-width: none;
            display: block;
            text-align: center;
        }
    }
    &__row {
        display: flex;
        margin: 0 -15px 70px -15px;
        @media screen and (max-width:$sm) {
            flex-direction: column;
            margin-bottom: 50px;
        }
    }
    &__column {
        flex: 0 1 50%;
        padding: 0 15px;
        @media screen and (max-width:$sm) {
            margin-bottom: 50px;
        }
    }
    &__label {
        font-size: 14px;
        font-family: $primary-font;
        margin: 0 0 10px 0;
        text-transform: uppercase;
        text-align: left;
        
        @media screen and (max-width:$sx) {
            font-size: 16px;
            text-align: center;
        }
    }
    &__btn {
        font-size: 14px;
        color: #000000;
        font-family: $primary-font;
        text-transform: uppercase;
        border: none;
        background-color: transparent;
        cursor: pointer;
        margin: 30px 0 0 0;
        @media screen and (max-width:$sm) {
            font-size: 24px;
            margin-bottom: 30px;
        }
    }
}

.input {
    padding: 10px 0px;
    background-color: #f8f7f7;
    font-size: 15px;
    border-top: 1px solid #000000;
    @media screen and (max-width:$sx) {
        font-size: 16px;
    }
}
.social {
    display: flex;
    @media screen and (max-width:$sm) {
        justify-content: center;
    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        width: 30px;
        text-decoration: none;
        color: #000000;
        border: 2px solid #000000;
        border-radius: 50%;
        margin: 0 15px 0 0;
        svg {
            fill: #000000;
            width: 12px;
            height: 16px;
            @media screen and (max-width:$sm) {
                width: 15px;
                height: 18px;
            }
        }
        @media screen and (max-width:$sm) {
            height: 50px;
            width: 50px;
            font-size: 24px;
            margin: 0 20px;
        }
    }
}