$bg-portfolio: #f3f3f3;
$links-color: #3c3c3c;
$active-link-color: #ada074;

$primary-font: 'Lato-Bold';
$text-font: 'Lato-Regular';
$secondary-text-font: 'Lato-Light';

$blockTitle-size: 34px;
$primaryText-size: 14px;